body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.Keys{
  width: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Orange{
background-color: orange;
}
button{
  height: 50px;
}
.Zero{
  grid-column: 1/3;
}
.screen{
  display: flex;
  width: 29.8%;
  height: 50px;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(133, 130, 130);
  color: white;
  border: 3px solid black;
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 24px;
}

.display{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.App{
  text-align: center;
}
